-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: inventario
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actas_firmadas`
--

DROP TABLE IF EXISTS `actas_firmadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actas_firmadas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `numero_acta` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_acta` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_documento` date NOT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `archivo_pdf` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `actas_firmadas_numero_acta_unique` (`numero_acta`),
  KEY `actas_firmadas_user_id_foreign` (`user_id`),
  CONSTRAINT `actas_firmadas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actas_firmadas`
--

LOCK TABLES `actas_firmadas` WRITE;
/*!40000 ALTER TABLE `actas_firmadas` DISABLE KEYS */;
INSERT INTO `actas_firmadas` VALUES (1,'0618','Entrega','2026-06-18',NULL,'actas_firmadas/iLf7Krx9ZpWj61Bl1ud7CqlfMAGkcjWlW3fAJylR.pdf',1,'2026-06-18 20:06:38','2026-06-18 15:20:23','2026-06-18 20:06:38');
/*!40000 ALTER TABLE `actas_firmadas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `actas_firmadas_versions`
--

DROP TABLE IF EXISTS `actas_firmadas_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actas_firmadas_versions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `acta_firmada_id` bigint unsigned NOT NULL,
  `archivo_pdf` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `version` int NOT NULL,
  `motivo_cambio` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `actas_firmadas_versions_acta_firmada_id_foreign` (`acta_firmada_id`),
  KEY `actas_firmadas_versions_user_id_foreign` (`user_id`),
  CONSTRAINT `actas_firmadas_versions_acta_firmada_id_foreign` FOREIGN KEY (`acta_firmada_id`) REFERENCES `actas_firmadas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `actas_firmadas_versions_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actas_firmadas_versions`
--

LOCK TABLES `actas_firmadas_versions` WRITE;
/*!40000 ALTER TABLE `actas_firmadas_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `actas_firmadas_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignaciones`
--

DROP TABLE IF EXISTS `asignaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `equipo_id` bigint unsigned NOT NULL,
  `usuario_nombre` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_cedula` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_empresa_propietaria` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_dependencia` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_fuente_recurso` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_empresa_funcionario` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_tipo_vinculacion` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_shortname` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_departamento` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_ciudad` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_cargo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_area` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_piso` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_distrito` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_seccional` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_accion` enum('asignacion','reemplazo','retiro','mantenimiento','baja','restauracion') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'asignacion',
  `motivo` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `entregado_por` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `fecha_accion` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `asignaciones_user_id_foreign` (`user_id`),
  KEY `idx_asig_equipo` (`equipo_id`),
  KEY `idx_asig_tipo_accion` (`tipo_accion`),
  KEY `idx_asig_fecha` (`fecha_accion`),
  KEY `idx_asig_cedula` (`usuario_cedula`),
  CONSTRAINT `asignaciones_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asignaciones_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignaciones`
--

LOCK TABLES `asignaciones` WRITE;
/*!40000 ALTER TABLE `asignaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `details` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_logs_user_id_foreign` (`user_id`),
  CONSTRAINT `audit_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campo_personalizado_opciones`
--

DROP TABLE IF EXISTS `campo_personalizado_opciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campo_personalizado_opciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `campo_personalizado_id` bigint unsigned NOT NULL,
  `valor` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orden` int NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `campo_personalizado_opciones_campo_personalizado_id_foreign` (`campo_personalizado_id`),
  CONSTRAINT `campo_personalizado_opciones_campo_personalizado_id_foreign` FOREIGN KEY (`campo_personalizado_id`) REFERENCES `campos_personalizados` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campo_personalizado_opciones`
--

LOCK TABLES `campo_personalizado_opciones` WRITE;
/*!40000 ALTER TABLE `campo_personalizado_opciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `campo_personalizado_opciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campo_personalizado_valores`
--

DROP TABLE IF EXISTS `campo_personalizado_valores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campo_personalizado_valores` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `campo_personalizado_id` bigint unsigned NOT NULL,
  `entidad_id` bigint unsigned NOT NULL,
  `valor` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `campo_personalizado_valores_campo_personalizado_id_foreign` (`campo_personalizado_id`),
  KEY `campo_personalizado_valores_entidad_id_index` (`entidad_id`),
  CONSTRAINT `campo_personalizado_valores_campo_personalizado_id_foreign` FOREIGN KEY (`campo_personalizado_id`) REFERENCES `campos_personalizados` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campo_personalizado_valores`
--

LOCK TABLES `campo_personalizado_valores` WRITE;
/*!40000 ALTER TABLE `campo_personalizado_valores` DISABLE KEYS */;
/*!40000 ALTER TABLE `campo_personalizado_valores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campos_personalizados`
--

DROP TABLE IF EXISTS `campos_personalizados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campos_personalizados` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `modulo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'equipos',
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `tipo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `obligatorio` tinyint(1) NOT NULL DEFAULT '0',
  `editable` tinyint(1) NOT NULL DEFAULT '1',
  `visible` tinyint(1) NOT NULL DEFAULT '1',
  `importable` tinyint(1) NOT NULL DEFAULT '1',
  `exportable` tinyint(1) NOT NULL DEFAULT '1',
  `exportar_por_defecto` tinyint(1) NOT NULL DEFAULT '0',
  `orden` int NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `campos_personalizados_modulo_index` (`modulo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campos_personalizados`
--

LOCK TABLES `campos_personalizados` WRITE;
/*!40000 ALTER TABLE `campos_personalizados` DISABLE KEYS */;
/*!40000 ALTER TABLE `campos_personalizados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checklists`
--

DROP TABLE IF EXISTS `checklists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checklists` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `equipo_id` bigint unsigned NOT NULL,
  `responsable_ti` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `orden_trabajo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `cruce_av` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crece_software` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `resultado` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_aprobado` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fnc` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checklists_equipo_id_foreign` (`equipo_id`),
  CONSTRAINT `checklists_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checklists`
--

LOCK TABLES `checklists` WRITE;
/*!40000 ALTER TABLE `checklists` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `diccionarios`
--

DROP TABLE IF EXISTS `diccionarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `diccionarios` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `grupo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `valor` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `diccionarios_grupo_index` (`grupo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diccionarios`
--

LOCK TABLES `diccionarios` WRITE;
/*!40000 ALTER TABLE `diccionarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `diccionarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipos`
--

DROP TABLE IF EXISTS `equipos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo_recurso_id` bigint unsigned NOT NULL,
  `serial` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `activo_fijo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Identificador administrativo interno del equipo',
  `placa` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `marca` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `modelo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre_equipo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado_operativo` enum('activo','mantenimiento','baja','asignado','disponible') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo',
  `razon_estado` text COLLATE utf8mb4_unicode_ci,
  `procesador` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ram` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `disco` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sistema_operativo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_compra` date DEFAULT NULL,
  `fin_garantia` date DEFAULT NULL,
  `tiempo_uso` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_cedula` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_nombre` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_cargo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_ciudad` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_area` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_tipo_recurso` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_inicio_responsable` date DEFAULT NULL,
  `fecha_fin_responsable` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `equipos_serial_unique` (`serial`),
  KEY `equipos_tipo_recurso_id_foreign` (`tipo_recurso_id`),
  KEY `idx_equipos_activo_fijo` (`activo_fijo`),
  CONSTRAINT `equipos_tipo_recurso_id_foreign` FOREIGN KEY (`tipo_recurso_id`) REFERENCES `tipo_recursos` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=300 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipos`
--

LOCK TABLES `equipos` WRITE;
/*!40000 ALTER TABLE `equipos` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funcionarios`
--

DROP TABLE IF EXISTS `funcionarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `funcionarios` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `identificacion` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombres` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cargo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `area` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `departamento` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ciudad` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `empresa_funcionario` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_vinculacion` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `funcionarios_identificacion_unique` (`identificacion`)
) ENGINE=InnoDB AUTO_INCREMENT=183 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funcionarios`
--

LOCK TABLES `funcionarios` WRITE;
/*!40000 ALTER TABLE `funcionarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `funcionarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_administrativos`
--

DROP TABLE IF EXISTS `historial_administrativos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_administrativos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `equipo_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `tipo_cambio` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Ej: edicion, cambio_serial, cambio_estado, eliminacion, restauracion',
  `campo_modificado` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valor_anterior` text COLLATE utf8mb4_unicode_ci,
  `valor_nuevo` text COLLATE utf8mb4_unicode_ci,
  `descripcion` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `historial_administrativos_user_id_foreign` (`user_id`),
  KEY `idx_ha_equipo` (`equipo_id`),
  KEY `idx_ha_tipo` (`tipo_cambio`),
  KEY `idx_ha_fecha` (`created_at`),
  CONSTRAINT `historial_administrativos_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historial_administrativos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_administrativos`
--

LOCK TABLES `historial_administrativos` WRITE;
/*!40000 ALTER TABLE `historial_administrativos` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_administrativos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_tecnicos`
--

DROP TABLE IF EXISTS `historial_tecnicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_tecnicos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `equipo_id` bigint unsigned NOT NULL,
  `tipo_evento` enum('formateo','cambio_disco','cambio_ram','mantenimiento_preventivo','mantenimiento_correctivo','instalacion_software','limpieza','reparacion','observacion','otro') COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` enum('Creado','En proceso','Suspendido','Finalizado') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Creado',
  `descripcion` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `motivo` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_evento` date NOT NULL,
  `usuario_responsable` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre del técnico responsable',
  `usuario_asignado_snapshot` json DEFAULT NULL COMMENT 'Datos del usuario asignado al equipo en el momento del evento',
  `archivos` json DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `historial_tecnicos_user_id_foreign` (`user_id`),
  KEY `idx_ht_equipo` (`equipo_id`),
  KEY `idx_ht_tipo` (`tipo_evento`),
  KEY `idx_ht_fecha` (`fecha_evento`),
  CONSTRAINT `historial_tecnicos_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historial_tecnicos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_tecnicos`
--

LOCK TABLES `historial_tecnicos` WRITE;
/*!40000 ALTER TABLE `historial_tecnicos` DISABLE KEYS */;
INSERT INTO `historial_tecnicos` VALUES (1,282,'mantenimiento_preventivo','Creado','Enviado a mantenimiento desde asignaciones. Motivo: Tgtr',NULL,'2026-06-12','Admin','{\"area\": \"TIC\", \"cargo\": \"ANALISTA TIC\", \"cedula\": \"PENDIENTE\", \"nombre\": \"JHONATHAN ARMANDO CAMARGO IZQUIERDO\", \"distrito\": null, \"seccional\": null, \"shortname\": null, \"dependencia\": \"COMITÉ TOLIMA\"}',NULL,'Sgttrt',1,'2026-06-12 13:43:03','2026-06-12 13:43:03',NULL);
/*!40000 ALTER TABLE `historial_tecnicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licencia_asignaciones`
--

DROP TABLE IF EXISTS `licencia_asignaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licencia_asignaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `licencia_id` bigint unsigned DEFAULT NULL,
  `equipo_id` bigint unsigned NOT NULL,
  `funcionario_id` bigint unsigned NOT NULL,
  `fecha_asignacion` date NOT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `estado` enum('Activa','Vencida','Retirada','Suspendida') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint unsigned DEFAULT NULL,
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `licencia_asignaciones_licencia_id_foreign` (`licencia_id`),
  KEY `licencia_asignaciones_equipo_id_foreign` (`equipo_id`),
  KEY `licencia_asignaciones_funcionario_id_foreign` (`funcionario_id`),
  KEY `licencia_asignaciones_created_by_foreign` (`created_by`),
  KEY `licencia_asignaciones_updated_by_foreign` (`updated_by`),
  CONSTRAINT `licencia_asignaciones_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `licencia_asignaciones_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `licencia_asignaciones_funcionario_id_foreign` FOREIGN KEY (`funcionario_id`) REFERENCES `funcionarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `licencia_asignaciones_licencia_id_foreign` FOREIGN KEY (`licencia_id`) REFERENCES `licencias` (`id`) ON DELETE SET NULL,
  CONSTRAINT `licencia_asignaciones_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licencia_asignaciones`
--

LOCK TABLES `licencia_asignaciones` WRITE;
/*!40000 ALTER TABLE `licencia_asignaciones` DISABLE KEYS */;
INSERT INTO `licencia_asignaciones` VALUES (1,1,1,1,'2026-06-10','2026-06-10','Activa',NULL,1,NULL,'2026-06-10 15:57:46','2026-06-10 15:57:46',NULL);
/*!40000 ALTER TABLE `licencia_asignaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licencia_historial`
--

DROP TABLE IF EXISTS `licencia_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licencia_historial` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `fecha` datetime NOT NULL,
  `usuario_id` bigint unsigned DEFAULT NULL,
  `accion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `licencia_nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `funcionario_nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `equipo_placa` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacion` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `licencia_historial_usuario_id_foreign` (`usuario_id`),
  CONSTRAINT `licencia_historial_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licencia_historial`
--

LOCK TABLES `licencia_historial` WRITE;
/*!40000 ALTER TABLE `licencia_historial` DISABLE KEYS */;
INSERT INTO `licencia_historial` VALUES (1,'2026-06-10 15:51:37',1,'Creación de licencia','Office 365',NULL,NULL,'Licencia creada con éxito','2026-06-10 15:51:37','2026-06-10 15:51:37'),(2,'2026-06-10 15:57:46',1,'Asignación de licencia','Office 365','ALEXANDER POLO PRIETO','F101875','Licencia asignada al equipo y funcionario','2026-06-10 15:57:46','2026-06-10 15:57:46');
/*!40000 ALTER TABLE `licencia_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licencias`
--

DROP TABLE IF EXISTS `licencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licencias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `tipo_licencia` enum('Suscripción','Vitalicia') COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad_maxima` int NOT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `estado` enum('Activa','Suspendida','Vencida') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint unsigned DEFAULT NULL,
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `licencias_created_by_foreign` (`created_by`),
  KEY `licencias_updated_by_foreign` (`updated_by`),
  CONSTRAINT `licencias_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `licencias_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licencias`
--

LOCK TABLES `licencias` WRITE;
/*!40000 ALTER TABLE `licencias` DISABLE KEYS */;
INSERT INTO `licencias` VALUES (1,'Office 365','Servicios de office','Suscripción',5,'2026-06-10','2026-07-10','Activa',NULL,1,NULL,'2026-06-10 15:51:37','2026-06-10 15:51:37',NULL);
/*!40000 ALTER TABLE `licencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_permissions`
--

DROP TABLE IF EXISTS `model_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
INSERT INTO `model_has_roles` VALUES (1,'App\\Models\\User',1);
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perifericos`
--

DROP TABLE IF EXISTS `perifericos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `perifericos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `equipo_id` bigint unsigned NOT NULL,
  `telefono` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `teclado` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mouse` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `camara` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `perifericos_equipo_id_unique` (`equipo_id`),
  CONSTRAINT `perifericos_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perifericos`
--

LOCK TABLES `perifericos` WRITE;
/*!40000 ALTER TABLE `perifericos` DISABLE KEYS */;
/*!40000 ALTER TABLE `perifericos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plantillas_exportacion`
--

DROP TABLE IF EXISTS `plantillas_exportacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plantillas_exportacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `modulo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'equipos',
  `user_id` bigint unsigned DEFAULT NULL,
  `configuracion_json` json NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `plantillas_exportacion_user_id_foreign` (`user_id`),
  KEY `plantillas_exportacion_modulo_index` (`modulo`),
  CONSTRAINT `plantillas_exportacion_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plantillas_exportacion`
--

LOCK TABLES `plantillas_exportacion` WRITE;
/*!40000 ALTER TABLE `plantillas_exportacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `plantillas_exportacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plantillas_pdf`
--

DROP TABLE IF EXISTS `plantillas_pdf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plantillas_pdf` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre descriptivo de la plantilla',
  `tipo` enum('acta_entrega','otro') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'acta_entrega',
  `contenido` longtext COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'HTML con variables {{variable}} para reemplazo dinámico',
  `activa` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Solo una plantilla activa por tipo',
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `plantillas_pdf_user_id_foreign` (`user_id`),
  KEY `idx_plantilla_tipo` (`tipo`),
  KEY `idx_plantilla_activa` (`activa`),
  CONSTRAINT `plantillas_pdf_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plantillas_pdf`
--

LOCK TABLES `plantillas_pdf` WRITE;
/*!40000 ALTER TABLE `plantillas_pdf` DISABLE KEYS */;
/*!40000 ALTER TABLE `plantillas_pdf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `role_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
INSERT INTO `role_has_permissions` VALUES (1,1),(2,1),(3,1),(4,1),(5,1),(6,1),(7,1),(8,1),(9,1),(10,1),(11,1),(12,1),(13,1),(14,1),(15,1),(16,1),(17,1),(18,1),(19,1),(20,1),(21,1),(22,1),(23,1),(24,1),(25,1),(26,1),(27,1),(28,1),(29,1),(30,1),(31,1),(32,1),(33,1),(34,1),(35,1),(36,1),(37,1),(38,1),(39,1),(40,1),(41,1),(42,1),(43,1),(44,1),(45,1),(1,8),(2,8),(6,8),(12,8),(16,8),(20,8),(24,8),(25,8);
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrador','web','2026-06-12 15:32:51','2026-06-12 15:32:51'),(8,'Consultor','web','2026-06-12 15:56:56','2026-06-12 15:56:56');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripcion_asignaciones`
--

DROP TABLE IF EXISTS `suscripcion_asignaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suscripcion_asignaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `suscripcion_id` bigint unsigned NOT NULL,
  `funcionario_id` bigint unsigned DEFAULT NULL,
  `equipo_id` bigint unsigned DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `estado` enum('Activa','Próxima a vencer','Vencida','Cancelada') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `suscripcion_asignaciones_suscripcion_id_foreign` (`suscripcion_id`),
  KEY `suscripcion_asignaciones_funcionario_id_foreign` (`funcionario_id`),
  KEY `suscripcion_asignaciones_equipo_id_foreign` (`equipo_id`),
  CONSTRAINT `suscripcion_asignaciones_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `suscripcion_asignaciones_funcionario_id_foreign` FOREIGN KEY (`funcionario_id`) REFERENCES `funcionarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `suscripcion_asignaciones_suscripcion_id_foreign` FOREIGN KEY (`suscripcion_id`) REFERENCES `suscripciones` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripcion_asignaciones`
--

LOCK TABLES `suscripcion_asignaciones` WRITE;
/*!40000 ALTER TABLE `suscripcion_asignaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `suscripcion_asignaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripcion_historiales`
--

DROP TABLE IF EXISTS `suscripcion_historiales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suscripcion_historiales` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `suscripcion_id` bigint unsigned NOT NULL,
  `accion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `detalles` text COLLATE utf8mb4_unicode_ci,
  `usuario_sistema_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `suscripcion_historiales_suscripcion_id_foreign` (`suscripcion_id`),
  KEY `suscripcion_historiales_usuario_sistema_id_foreign` (`usuario_sistema_id`),
  CONSTRAINT `suscripcion_historiales_suscripcion_id_foreign` FOREIGN KEY (`suscripcion_id`) REFERENCES `suscripciones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `suscripcion_historiales_usuario_sistema_id_foreign` FOREIGN KEY (`usuario_sistema_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripcion_historiales`
--

LOCK TABLES `suscripcion_historiales` WRITE;
/*!40000 ALTER TABLE `suscripcion_historiales` DISABLE KEYS */;
/*!40000 ALTER TABLE `suscripcion_historiales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripciones`
--

DROP TABLE IF EXISTS `suscripciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suscripciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fabricante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `cantidad_comprada` int NOT NULL DEFAULT '1',
  `fecha_compra` date DEFAULT NULL,
  `fecha_vencimiento_global` date DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `estado` enum('Activa','Próxima a vencer','Vencida','Suspendida') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripciones`
--

LOCK TABLES `suscripciones` WRITE;
/*!40000 ALTER TABLE `suscripciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `suscripciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prioridad` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Abierto',
  `funcionario_id` bigint unsigned NOT NULL,
  `equipo_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `archivos` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tickets_funcionario_id_foreign` (`funcionario_id`),
  KEY `tickets_equipo_id_foreign` (`equipo_id`),
  KEY `tickets_user_id_foreign` (`user_id`),
  CONSTRAINT `tickets_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `tickets_funcionario_id_foreign` FOREIGN KEY (`funcionario_id`) REFERENCES `funcionarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tickets_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_recursos`
--

DROP TABLE IF EXISTS `tipo_recursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_recursos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tipo_recursos_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_recursos`
--

LOCK TABLES `tipo_recursos` WRITE;
/*!40000 ALTER TABLE `tipo_recursos` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipo_recursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Admin','admin@inventario.com',NULL,'$2y$12$qX6HcufZlYLaMRaj03VpNue8UV/4u/ypBV3CiCBkMKNE0c/Fv/XEG',NULL,'2026-04-14 21:17:26','2026-04-14 21:17:26');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_asignados`
--

DROP TABLE IF EXISTS `usuario_asignados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_asignados` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `equipo_id` bigint unsigned NOT NULL,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cedula` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `empresa_propietaria` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dependencia` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fuente_recurso` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `empresa_funcionario` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_vinculacion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shortname` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `departamento` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ciudad` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cargo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `piso` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `distrito` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Distrito al que pertenece el usuario',
  `seccional` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Seccional a la que pertenece el usuario',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuario_asignados_equipo_id_unique` (`equipo_id`),
  CONSTRAINT `usuario_asignados_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=301 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_asignados`
--

LOCK TABLES `usuario_asignados` WRITE;
/*!40000 ALTER TABLE `usuario_asignados` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_asignados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vitalicia_asignaciones`
--

DROP TABLE IF EXISTS `vitalicia_asignaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vitalicia_asignaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `vitalicia_id` bigint unsigned NOT NULL,
  `funcionario_id` bigint unsigned DEFAULT NULL,
  `equipo_id` bigint unsigned DEFAULT NULL,
  `fecha_asignacion` date NOT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `responsable_ti_id` bigint unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vitalicia_asignaciones_vitalicia_id_foreign` (`vitalicia_id`),
  KEY `vitalicia_asignaciones_funcionario_id_foreign` (`funcionario_id`),
  KEY `vitalicia_asignaciones_equipo_id_foreign` (`equipo_id`),
  KEY `vitalicia_asignaciones_responsable_ti_id_foreign` (`responsable_ti_id`),
  CONSTRAINT `vitalicia_asignaciones_equipo_id_foreign` FOREIGN KEY (`equipo_id`) REFERENCES `equipos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `vitalicia_asignaciones_funcionario_id_foreign` FOREIGN KEY (`funcionario_id`) REFERENCES `funcionarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `vitalicia_asignaciones_responsable_ti_id_foreign` FOREIGN KEY (`responsable_ti_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `vitalicia_asignaciones_vitalicia_id_foreign` FOREIGN KEY (`vitalicia_id`) REFERENCES `vitalicias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vitalicia_asignaciones`
--

LOCK TABLES `vitalicia_asignaciones` WRITE;
/*!40000 ALTER TABLE `vitalicia_asignaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `vitalicia_asignaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vitalicia_historiales`
--

DROP TABLE IF EXISTS `vitalicia_historiales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vitalicia_historiales` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `vitalicia_id` bigint unsigned NOT NULL,
  `accion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `detalles` text COLLATE utf8mb4_unicode_ci,
  `usuario_sistema_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vitalicia_historiales_vitalicia_id_foreign` (`vitalicia_id`),
  KEY `vitalicia_historiales_usuario_sistema_id_foreign` (`usuario_sistema_id`),
  CONSTRAINT `vitalicia_historiales_usuario_sistema_id_foreign` FOREIGN KEY (`usuario_sistema_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `vitalicia_historiales_vitalicia_id_foreign` FOREIGN KEY (`vitalicia_id`) REFERENCES `vitalicias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vitalicia_historiales`
--

LOCK TABLES `vitalicia_historiales` WRITE;
/*!40000 ALTER TABLE `vitalicia_historiales` DISABLE KEYS */;
/*!40000 ALTER TABLE `vitalicia_historiales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vitalicias`
--

DROP TABLE IF EXISTS `vitalicias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vitalicias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fabricante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `cantidad_comprada` int NOT NULL DEFAULT '1',
  `fecha_compra` date DEFAULT NULL,
  `numero_factura` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `estado` enum('Activa','Inactiva') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activa',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vitalicias`
--

LOCK TABLES `vitalicias` WRITE;
/*!40000 ALTER TABLE `vitalicias` DISABLE KEYS */;
/*!40000 ALTER TABLE `vitalicias` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-19 13:06:12
